---
import { getSidebarEntries } from "../sidebar";
import Preferences from "~/components/Preferences/Preferences.tsx";

interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;
const sidebar = getSidebarEntries();
---

<nav aria-label="Primary">
  <Preferences client:load />
  {
    sidebar.map(({ header, depth, children }) => (
      <>
        {depth == 1 ? <h2 class="divider">{header}</h2> : <h3>{header}</h3>}
        {children !== null && (
          <ul>
            {children.map(({ slug, text }) => {
              return (
                <li data-depth={depth}>
                  <a
                    href={`${Astro.site?.pathname}${slug}/`}
                    aria-current={currentPage.includes(slug) ? "page" : false}
                  >
                    {text}
                  </a>
                </li>
              );
            })}
          </ul>
        )}
      </>
    ))
  }
</nav>

<style>
  nav {
    width: 100%;
    background-color: var(--bg-secondary);
    padding: var(--spacing-7);
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    scrollbar-gutter: stable;
  }

  nav h2 {
    color: var(--text-base);
    font-size: var(--text-xl);
    font-weight: 400;
    padding-bottom: var(--spacing-2);
  }

  nav h3 {
    color: var(--text-secondary);
    font-size: var(--text-lg);
    font-weight: 700;
  }

  nav ul {
    padding: 0;
    margin-bottom: var(--spacing-8);
    list-style-type: none;
  }

  nav li {
    padding-block: var(--spacing-1);
  }

  li a {
    color: var(--text-secondary);
    text-decoration: none;
  }

  li[data-depth="1"] a {
    font-weight: 600;
  }

  li[data-depth="2"] a {
    font-size: var(--text-sm);
    margin-left: var(--spacing-6);
  }

  li a[aria-current="page"] {
    color: var(--solid-blue);
  }

  nav h2,
  li a {
    transition: color 0.15s ease;
  }

  nav h2:hover,
  li a:hover {
    color: var(--gray-4);
  }
</style>
