---
import { getSidebarEntries } from "../sidebar";
import type { SidebarEntry } from "../sidebar";
import Preferences from "~/components/Preferences/Preferences.tsx";

export interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;
const sidebar = getSidebarEntries();

function isCurrent(slug: string) {
  return currentPage.replace(/\/$/, "").endsWith(slug);
}

function routeIncludesChild(children: SidebarEntry[]) {
  return children.some((child) => isCurrent(child.slug));
}
---

<nav aria-label="Primary">
  <Preferences client:load />
  {
    sidebar.map(({ header, depth, children }) => (
      <>
        {depth == 1 ? (
          <h2>{header}</h2>
        ) : (
          <h3>
            <a href={"/" + children[0]?.slug + "/"}>{header}</a>
          </h3>
        )}
        {children.length && (depth === 1 || routeIncludesChild(children)) ? (
          <ul>
            {children.map(({ slug, text }) => {
              return (
                <li data-depth={depth}>
                  <a
                    href={`${Astro.site?.pathname}${slug}/`}
                    aria-current={isCurrent(slug) ? "page" : false}
                  >
                    {text}
                  </a>
                </li>
              );
            })}
          </ul>
        ) : null}
      </>
    ))
  }
</nav>

<style>
  nav {
    width: 100%;
    background-color: var(--bg-secondary);
    padding: var(--spacing-7);
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    scrollbar-gutter: stable;
  }

  h2 {
    color: var(--text-base);
    font-size: var(--text-xl);
    font-weight: 400;
    padding-bottom: var(--spacing-2);
  }

  h3 {
    font-size: var(--text-default);
    font-weight: 600;
  }

  ul {
    padding: 0;
    margin-bottom: var(--spacing-8);
    list-style-type: none;
  }

  h3 + h2 {
    margin-top: var(--spacing-8);
  }

  li,
  h3 {
    padding-block: var(--spacing-1);
  }

  li[data-depth="1"] a {
    font-weight: 600;
  }

  li[data-depth="2"] a {
    font-size: var(--text-sm);
    margin-left: var(--spacing-6);
  }

  a {
    color: var(--text-secondary);
    text-decoration: none;
  }

  a[aria-current="page"] {
    color: var(--solid-blue);
  }

  h2,
  h3,
  a {
    transition: color 0.15s ease;
  }

  a:hover {
    color: var(--gray-4);
  }

  @media (max-width: 50em) {
    a {
      display: flex;
      width: 100%;
    }
  }
</style>
